services:
  RuuviGateway:
    image: ghcr.io/saavuori/ruuvigateway:latest
    container_name: RuuviGateway
    restart: unless-stopped
    privileged: true
    network_mode: "host"
    ports:
      - "8080:8080"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - ./config.yml:/app/config.yml
    environment:
      - MATTER_BRIDGE_URL=http://host.docker.internal:5555
  Matter-Bridge:
    image: ghcr.io/saavuori/ruuvigateway-matter-bridge:latest
    container_name: Matter-Bridge
    restart: unless-stopped
    network_mode: host
    environment:
      - CONFIG_PATH=/app/config.yml
      - STORAGE_PATH=/data
      - GATEWAY_API=http://localhost:8080/api/tags
    volumes:
      - ./config.yml:/app/config.yml
      - ./matter_data:/data
