services:
  RuuviGateway:
    image: ghcr.io/saavuori/ruuvigateway:latest
    container_name: RuuviGateway
    restart: unless-stopped
    privileged: true
    network_mode: "host"
    ports:
      - "8080:8080"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - ./config.yml:/app/config.yml
    labels:
      - "com.centurylinklabs.watchtower.scope=ruuvigateway"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=300
      - WATCHTOWER_SCOPE=ruuvigateway
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LOG_LEVEL=info
      - DOCKER_API_VERSION=1.45
    labels:
      - "com.centurylinklabs.watchtower.scope=ruuvigateway"
