[Unit]
Description="RuuviGateway"
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/ruuvigateway -config /etc/ruuvigateway/config.yml

[Install]
WantedBy=multi-user.target
