@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom breakpoint for ultra-wide displays */
  --breakpoint-3xl: 1920px;

  --color-ruuvi-dark: #142928;
  --color-ruuvi-card: #1e3b3a;
  --color-ruuvi-text: #ffffff;
  --color-ruuvi-text-muted: #a6b6b5;
  --color-ruuvi-accent: #e8d64b;
  --color-ruuvi-success: #4fdfa8;
}

body {
  @apply bg-ruuvi-dark text-ruuvi-text antialiased;
}
